@import "./../variable";

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 72px;

  &__logo {
    width: calc(100% - #{$paddingPage * 2});
    height: 72px;
    margin: 0;
    padding: 0 $paddingPage;

    font-weight: 400;
    line-height: 72px;
    color: #fff;
    background-color: #3a80ba;
  }
}
